*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
col- {
  width: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-size: contain;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.7em;
  color: #828282;
  background: tan;
}
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
#page {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
#main-page h1,
#main-page h2 {
  font-family: "Playfair Display", serif;
}
/* index page animation effect */
.typing {
  /* overflow: hidden; */
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  transition: all;
  -webkit-transition-duration: 5s;
  -webkit-transition-timing-function: ease-in;
  transition-duration: 5s;
  transition-timing-function: ease-in;
  animation: typing 5.5s steps(150, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}
/* end of index page animation effect */

/* Styling of Bounce effect of the down arrow  */
#arrowIndicator {
  position: absolute;
  left: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  display: none;
}
@keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%,
  75% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
/* End of Styling of Bounce effect of the down arrow  */
.heading {
  height: 100px;
}
.heading h1 {
  margin-top: 10px;
}
/* Main Page Styling  */
header {
  position: relative;
  top: 0;
  width: 100%;
  height: 75px;
  background-size: cover;
}
nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  height: 75px;
  z-index: 100;
}
.logo {
  top: 0;
  margin: 16px;
  line-height: 30px;
  position: fixed;
  color: rgb(95, 201, 186);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  letter-spacing: 2px;
  z-index: 100;
}
nav.yellow {
  position: fixed;
  margin-top: 0;
  padding: 20px;
  height: 70px;
  color: rgb(95, 201, 186);
  background-color: rgba(66, 63, 63.55);
  z-index: 100;
  box-shadow: 1px 2px 3px 3px rgba(169, 169, 169);
}
nav ul {
  display: none;
}
.menu-icon {
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: 16px;
  color: rgb(95, 201, 186);
}
.showing {
  position: relative;
  margin-top: 0;
  display: block;
  box-sizing: border-box;
  text-align: center;
  outline-style: auto;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.3em;
  line-height: 70px;
  transition: all 0.2s ease-out;
  border-bottom: none !important;
  background-color: rgb(95, 201, 186);
}
a:hover,
a:active,
a:focus {
  color: rgb(95, 201, 186);
  outline: none;
  text-decoration: none;
}
nav ul li {
  border-radius: 10%;
  cursor: pointer;
}
nav ul li a {
  font-size: 18px;
  padding: 5px 10px;
  color: white;
  transition: 0.5s;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  padding: 10px;
  height: auto;
  width: 50px;
  border-radius: 15px;
  background-color: rgb(95, 201, 186);
  color: white;
}
nav ul li.active > a {
  color: white !important;
}
#home-scroll {
  position: relative;
  height: 450px;
  background-color: white;
}
#home-scroll .container,
#home-scroll .row {
  height: 100%;
}
#homeImg,
#linksTo,
#project,
#contact {
  letter-spacing: 1.5px;
  font-size: 20px;
}
#homeImg {
  margin-top: 40px;
  font-family: "Playfair Display", serif;
  background-color: white;
}
#homeImg h3,
#project h3 {
  font-family: "Playfair Display", serif;
}
#welcomeText {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(72, 186, 170);
}
/* #introText1 span {
  font-weight: bold;
  font-size: 20px;
  color: rgb(72, 186, 170);
} */
#introText1,
#introText2 {
  font-size: 20px;
  letter-spacing: 1px;
}
#introText1 {
  margin-top: 50px;
}
#introText2 {
  margin-top: 20px;
}
#resumeBtn {
  margin-top: 75px;
}
.resume {
  margin-bottom: 5px;
  padding: 5px;
  width: 90px;
  height: 40px;
  border-radius: 15px;
  color: white;
  background-color: rgb(72, 186, 170);
  cursor: pointer;
}

#arrowIndicator i {
  font-size: 30px;
}
/** WORK PAGE STYLING **/
#project {
  background-color: white;
}
#projectDisplay {
  margin-top: 50px;
}
#project h3 {
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
}
#project h3,
#project h5 {
  display: block;
  color: rgb(72, 186, 170);
  font-family: "Playfair Display", serif;
}
.allSkills {
  cursor: pointer;
}
.card {
  margin: 5px 0;
  height: 370px;
}
.cardImg {
  position: relative;
  /* height: 300px; */
}
.card-img-top {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  display: block;
  height: 300px;
  width: 100%;
  border: none;
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(155, 152, 152);
}
.cardImg:hover .overlay {
  opacity: 1;
}
.overlay ul li {
  margin: auto;
  list-style: none;
  float: left;
  margin-top: 3px;
  padding: 2px;
  margin: 0 5px;
  font-size: 15px;
  color: black;
}
.description p {
  clear: both;
  padding: 2px;
  margin: 5px;
  margin-bottom: -15px;
  font-size: 15px;
  color: black;
}
.description {
  margin-top: 5px;
  padding: 3px;
}
.techUsed {
  margin-top: 10px;
  padding: 3px;
}
.description h5,
.techUsed h5 {
  padding: 0 5px;
  font-size: 18px;
}
.card-body {
  margin: 0;
  padding: 0;
}
.card-title {
  margin-bottom: 0;
  padding: 5px 10px;
}
.card-link {
  text-align: center;
}
.card-link a {
  margin-bottom: 15px;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid rgb(72, 186, 170);
  border-radius: 15px;
}

.title {
  position: absolute;
  text-align: center;
  margin-top: -35px;
  padding: 10px;
  z-index: 1;
}
/* ABOUT PAGE STYLING */
#about {
  margin: 0;
  background-color: white;
}
#about .row {
  margin: 0 auto;
}
#aboutHeader {
  margin: 30px 0;
  text-align: center;
  font-size: 30px;
  color: rgb(72, 186, 170);
}
#imageDisplay {
  margin: 10px;
  padding: 5px;
  height: 350px;
  width: 100%;
}
#selfImg {
  margin-left: -10px;
  height: 100%;
  width: 98%;
}
#aboutDetails {
  margin-top: 5px;
}
#skillList h3 {
  margin: 35px 0;
  font-size: 20px;
  color: rgb(72, 186, 170);
}
.icons {
  margin: auto;
  margin: 18px;
  padding: 10px;
  float: left;
  list-style: none;
  font-size: 23px;
  background-color: white;
  border-radius: 15px;
}
/* END OF ABOUT PAGE STYLING */
/** CONTACT PAGE STYLING **/
#contact {
  margin-top: 30px;
  height: auto;
  background-color: white;
}
#contactHeader {
  width: 100%;
}
#contactHeader h3 {
  font-size: 25px;
  color: rgb(72, 186, 170);
}
#areaMap iframe {
  margin: auto;
  margin-top: 50px;
  width: 100%;
}
#contactDetails {
  position: relative;
  clear: both;
  margin: auto;
  margin-top: -10px;
  height: auto;
  width: 100%;
  vertical-align: middle;
}
#contactIcon span,
#contactLinks span {
  display: none;
}
#contactIcon {
  position: absolute;
  margin-top: 30px;
  margin-left: 45px;
  /* z-index: 100; */
}
#contactLinks {
  margin-top: 90px;
  margin-left: 50px;
  list-style: none;
}
#contactIcon li {
  margin-bottom: -250px;
  list-style: none;
  margin: 0 30px;
}
#contactLinks li {
  margin: 0 30px;
}
#contactIcon li,
#contactLinks li {
  float: left;
  cursor: pointer;
  font-size: 30px;
  color: rgb(72, 186, 170);
}

.fa-linkedin,
.fa-github,
.fa-resume {
  margin-left: -10px;
  margin-top: 10px;
}
#footer {
  margin-top: 20px;
  width: 100%;
  height: 90px;
  font-size: 20px;
  background-color: rgb(66, 63, 63);
}
.scrollToTop {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(72, 186, 170);
  color: white;
  display: none;
  font-size: 25px;
}
.scrollToTop:hover {
  cursor: pointer;
  background-color: transparent;
  color: rgb(72, 186, 170);
  font-size: 30px;
  font-weight: bold;
}
/* MEDIUM REPONSIVNESS DESIGN */
@media (min-width: 700px) {
  /** ABOUT PAGE STYLING **/
  header {
    height: 100px;
  }
  nav {
    line-height: 100px;
    height: 100px;
  }
  .logo {
    margin: 16px 26px;
    line-height: 30px;
    font-size: 30px;
  }
  nav.yellow {
    height: 85px;
  }
  .menu-icon {
    margin-right: 20px;
  }
  .showing {
    height: 275px;
    outline: none;
  }
  nav ul li {
    text-align: center;
    cursor: pointer;
  }
  nav ul li a {
    font-size: 20px;
    padding: 5px 5px;
  }
  nav ul li a:hover {
    font-size: 23px;
  }
  .menu-icon {
    margin-top: -10px;
    margin-right: 35px;
    padding: 5px;
  }
  #home-scroll {
    height: 680px;
  }
  #homeImg {
    margin-top: 150px;
  }
  #homeImg .resume1 {
    margin-top: 30px;
    margin-left: 290px;
  }
  #welcomeText {
    font-size: 30px;
  }
  #introText1,
  #introText2 {
    font-size: 23px;
    letter-spacing: 1px;
  }
  #arrowIndicator {
    /* display: block; */
    margin-top: 30px;
  }
  #arrowIndicator i {
    font-size: 30px;
  }
  /** WORK PAGE STYLING **/
  #project {
    margin-top: -20px;
  }
  #project h3 {
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  #project h5 {
    font-size: 20px;
  }
  .card {
    height: 400px;
  }
  .card img,
  .card-img-top {
    height: 300px;
  }
  .card-title {
    padding: 10px;
  }
  .card-link a {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
  }
  .description p {
    font-size: 15px;
  }
  /** END OF WORK PAGE STYLING **/
  /* ABOUT PAGE STYLING */
  #aboutHeader h3 {
    left: -20px;
  }
  #imageDisplay {
    height: 250px;
  }
  #selfImg {
    height: 100%;
    width: 90%;
  }
  #aboutDetails {
    margin-top: 5px;
    padding-bottom: 10px;
  }
  #skillList h3 {
    margin-top: 85px;
    font-size: 20px;
  }
  .icons {
    margin: auto;
    margin: 7px 33px;
    padding: 10px;
    float: left;
    list-style: none;
    font-size: 27px;
    background-color: white;
    border-radius: 15px;
  }
  .icons:hover {
    padding: 10px;
    background-color: white;
    zoom: 1;
  }
  /* END OF ABOUT PAGE STYLING */
  /** CONTACT PAGE STYLING **/
  #contact {
    margin-top: 30px;
    height: auto;
    background-color: white;
  }
  #contactHeader {
    font-size: 35px;
  }
  #areaMap iframe {
    margin: auto;
    margin-top: 50px;
    width: 100%;
  }
  #contactDetails {
    height: 200px;
  }
  #contactIcon,
  #contactLinks {
    margin-left: 80px;
  }
  #contactIcon li,
  #contactLinks li {
    height: 50px;
    width: 70px;
  }
  #contactIcon li:hover,
  #contactLinks li:hover {
    font-weight: bold;
  }
  #contactIcon li i,
  #contactLinks li i {
    margin-top: 12px;
    margin-left: 16px;
    font-size: 30px;
  }
  /** FOOTER PAGE STYLING **/
  #footer {
    margin-top: -20px;
    height: 75px;
  }
  #footer p .block {
    margin: 30px 5px;
    padding: 10px;
    font-size: 20px;
  }
  .scrollToTop {
    font-size: 35px;
  }
  .scrollToTop:hover {
    font-size: 40px;
  }
}
/* LARGE RESPONSIVENESS DESIGN */
@media (min-width: 950px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  /* NAV BAR STYLING */
  header {
    height: 100px;
  }
  nav {
    line-height: 60px;
  }
  .logo {
    margin: 16px 26px;
    line-height: 30px;
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 900;
  }
  .menu-1 {
    display: block;
    float: right;
  }
  nav ul {
    display: block;
    float: right;
    line-height: 30px;
    padding: 0;
    text-align: right;
    margin: 0;
    margin: 16px 26px;
    padding-right: 40px;
    transition: 1s;
  }
  nav.yellow {
    margin-top: 0;
    padding: 20px;
    height: 100px;
  }
  nav ul li {
    clear: both;
    padding: 30px 10px;
    margin: 0;
    list-style: none;
    display: inline;
  }
  nav ul li a {
    color: rgb(72, 186, 170);
    font-size: 24px;
    padding: 30px 10px;
    transition: 0.5s;
  }
  nav ul li a:hover,
  nav ul li a:focus,
  nav ul li a:active {
    font-size: 27px;
  }
  .menu-icon {
    display: none;
  }
  /* HOME PAGE STYLING */
  #home-scroll {
    height: 830px;
  }
  #homeImg {
    margin-top: 180px;
    padding: 20px;
    height: auto;
  }
  #welcomeText {
    font-size: 40px;
    font-weight: bold;
  }
  #introText1 span {
    font-size: 23px;
  }
  #introText1,
  #introText2 {
    margin-top: 30px;
    font-size: 23px;
    letter-spacing: 1px;
  }
  #resumeBtn {
    margin-top: 75px;
  }
  .resume {
    width: 120px;
    height: 50px;
  }
  #arrowIndicator {
    display: block;
    margin-top: 200px;
  }
  #arrowIndicator i {
    font-size: 40px;
  }
  #project h3 {
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
  }
  #project h3,
  #project h5 {
    display: block;
    color: rgb(72, 186, 170);
    font-family: "Playfair Display", serif;
  }
  #project h5 {
    clear: both;
  }
  .icons {
    margin: 1px 57px;
    font-size: 27px;
  }
  #projectDisplay {
    margin-top: 50px;
  }
  .card {
    height: 425px;
  }
  .card img,
  .card-img-top {
    height: 325px;
  }
  .description p,
  .projectTech li {
    font-size: 13px;
  }
  .card-link a {
    margin-bottom: 15px;
    padding-bottom: 7px;
  }
  .zoom:hover {
    transition: transform 0.2s;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8*/
    transform: scale(1.05);
  }
  /* ABOUT PAGE */
  #aboutHeader .row {
    margin: auto;
  }
  #contactHeader h3 {
    font-size: 40px;
    color: rgb(72, 186, 170);
  }
  #imageDisplay {
    height: 350px;
  }
  #selfImg {
    height: 350px;
    border-radius: 10px;
  }
  #skillList h3 {
    font-size: 23px;
  }
  #aboutDetails {
    margin: 40px 0;
  }
  .icons {
    margin: 30px;
  }
  /* END OF ABOUT PAGE */
  /* CONTACT AND FOOTER STYLING */
  #contact {
    margin-top: 30px;
  }
  #contactHeader {
    margin: 20px 0;
    font-size: 40px;
  }
  #areaMap {
    margin-top: 40px;
  }
  #areaMap iframe {
    margin: auto;
    width: 100%;
    height: 520px;
  }
  #contactDetails {
    margin-top: 60px;
    margin: auto;
    width: 100%;
    height: 520px;
  }
  #contactDetails .col-12 {
    padding: 0;
  }
  #contactDetails span {
    display: block;
    font-size: 20px;
  }
  #contactIcon,
  #contactLinks {
    width: 100%;
    margin-left: -15px;
  }
  #contactIcon {
    margin-top: 50px;
  }
  #contactLinks {
    margin-top: 120px;
  }
  #contactIcon li,
  #contactLinks li {
    width: 50px;
    height: 100px;
  }
  #contactIcon li i,
  #contactLinks li i {
    float: left;
  }
  #contactIcon span,
  #contactLinks span {
    margin-left: 30px;
  }
  #contactLinks li {
    margin-top: 75px;
  }
  #footer {
    height: 150px;
    margin-top: 10px;
  }
  #footer p .block {
    margin: 20px 5px;
    padding: 10px;
    font-size: 23px;
  }
}
