#top-row{
    background-color : rgb(236, 59, 53);
    font-family: 'Contrail One', cursive;
    height : 150px;
    font-size : 35px;
    text-align : center;
}

h1 {
    font-size : 35px;
    margin-top :45px;
}

#home {
    float : right;
    margin-right : 25px;
    color :  rgb(54, 36, 36);
    text-decoration: none;
}

.image, #intro {
    background-color : rgb(182, 170, 170);
    background : url(../images/bg1.jpg);
}



.circle {
    position : relative;
    margin-left : 60px;
    height : 380px;
    width : 380px;
    border-radius: 50%;
    background-color : rgb(236, 59, 53);
}

.circle:after {
    content : "";
    padding-bottom : 100%;
    display: block;
}

#positioning{
    display : block;
    border : none;
    background-color: transparent;
    position : absolute;
    margin-left : 35%;
    margin-top : 10%;
}

p {
    margin-right : 75px;
    padding-right: 40px;
    text-align : center;
}

.circle1, .circle2, .circle3, .circle4 {
    position : relative;
    margin-top : 50px;
    height : 160px;
    width : 160px;
    border-radius: 50%;
    background-color : rgb(236, 59, 53);
    cursor : pointer;
}

.circle1, .circle3 {
    margin-left : 350px;
}

.circle2, .circle4{
    margin-right : 10px;
    margin-bottom: 10px;
    padding-bottom : 20px;
}

.circle:after {
    content : "";
    padding-bottom : 100%;
    display: block;
}

a {
    margin-top : 50px;
    margin-left : 10px;
    font-size : 20px;
    text-decoration: none;
    color : rgb(54, 36, 36);
}

.pos1, .pos2, .pos3, .pos4{
    display : block;
    border : none;
    background-color: transparent;
    position : absolute;
}

.pos1 {
    margin-left : 20%;
    margin-top : 20%;
}
.pos2, .pos4 {
    margin-left : 25%;
    margin-top : 25%;
}
.pos3 {
    margin-left : 18%;
    margin-top : 25%;
}

.form-control {
    border-radius: 1%;
}

#footer{
    background-color : rgb(236, 59, 53);
    font-family: 'Contrail One', cursive;
    height : 50px;
    font-size : 35px;
    text-align : center;
}


