#top-row{
    background-color : rgb(182, 170, 170);
    font-family: 'Contrail One', cursive;
    height : 150px;
    font-size : 35px;
    text-align : center;
}

h1 {
    font-size : 35px;
    margin-top :45px;
}

#home {
    float : right;
    margin-right : 25px;
    color :  rgb(54, 36, 36);
    text-decoration: none;
}

.image {
    background-color : rgb(236, 59, 53);
}

.circle {
    position : relative;
    margin-top: 80px;;
    margin-left : 60px;
    height : 380px;
    width : 380px;
    border-radius: 50%;
    background-color : rgb(182, 170, 170);
}

.circle:after {
    content : "";
    padding-bottom : 100%;
    display: block;
}

#positioning{
    display : block;
    border : none;
    background-color: transparent;
    position : absolute;
    margin-left : 30%;
    margin-top : 35%;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7, .circle8, .circle9, .circle10 {
    position : relative;
    margin-top : 50px;
    height : 150px;
    width : 150px;
    border-radius: 50%;
    background-color : rgb(182, 170, 170);
}

.circle1, .circle4 {
    margin-left : 460px;
}
.circle2, .circle3 {
    margin-left : 350px;
}

.circle5, .circle8 {
    margin-right : 10px;
}
.circle6, .circle7{
    margin-left : 190px;
}

.circle9 {
  margin-left : 150px;  
  margin-top : 10px;
}

.circle10{
    margin-left: 150px;
    margin-bottom : 0;
}

.circle:after {
    content : "";
    padding-bottom : 100%;
    display: block;
}

.pos1, .pos2, .pos3, .pos4, .pos5, .pos6, .pos7, .pos8, .pos9, .pos10 {
    display : block;
    border : none;
    background-color: transparent;
    position : absolute;
    margin-left : 30%;
    margin-top : 40%;
}
